@layout('layouts/main')
@set('title', 'Users')

@section('body')
<section class="scrum-poker">

  <div class='poker-desk'>

    <div class='user-story'>
      <h4>As an user, I should be able to see all viewing appointment event on calendar, so I can manage them and view them with applicant</h4>
    </div>

    <div class='gamer g1'>
      <img src='https://cdn4.iconfinder.com/data/icons/occupation-and-people-avatar-vol-2-1/128/man_avatar_user_old_people_senior_elderly-512.png' alt=''>
      <span class='g-name'>ahmet</span>
      <span class='g-status'></span>
    </div>
    <div class='gamer g2'>
      <img src='https://cdn4.iconfinder.com/data/icons/occupation-and-people-avatar-vol-2-1/128/man_avatar_user_glasses_people_young_casual-512.png' alt=''>
      <span class='g-name'>altuğ</span>
    </div>
    <div class='gamer g3'>
      <img src='https://cdn4.iconfinder.com/data/icons/occupation-and-people-avatar-vol-2-1/128/man_avatar_freelancer_career_people_male_hipster-512.png' alt=''>
      <span class='g-name'>arda</span>
    </div>
    <div class='gamer g4'>
      <img src='https://cdn4.iconfinder.com/data/icons/occupation-and-people-avatar-vol-2-1/128/lifeguard_man_avatar_occupation_career_people_male-512.png' alt=''>
      <span class='g-name'>baris</span>
    </div>
    <div class='gamer g5'>
      <img src='https://cdn4.iconfinder.com/data/icons/occupation-and-people-avatar-vol-1-2/128/man_avatar_occupation_career_people_male_businessman-512.png' alt=''>
      <span class='g-name'>emre</span>
    </div>
    <div class='gamer g6'>
      <img src='https://cdn4.iconfinder.com/data/icons/occupation-and-people-avatar-vol-2-1/128/man_avatar_student_young_people_male_graduated-512.png' alt=''>
      <span class='g-name'>fatih</span>
    </div>
    <div class='gamer g7'>
      <img src='https://cdn4.iconfinder.com/data/icons/occupation-and-people-avatar-vol-2-1/128/geisha_japanese_avatar_people_female_person_girl-512.png' alt=''>
      <span class='g-name'>hilal</span>
    </div>
    <div class='gamer g8'>
      <img src='https://cdn4.iconfinder.com/data/icons/occupation-and-people-avatar-vol-3-2/128/magician_actor_man_avatar_occupation_career_people-512.png' alt=''>
      <span class='g-name'>mehmet</span>
    </div>
    <div class='gamer g9'>
      <img src='https://cdn4.iconfinder.com/data/icons/occupation-and-people-avatar-vol-2-1/128/fireman_man_avatar_occupation_career_people_male-512.png' alt=''>
      <span class='g-name'>gökhan</span>
    </div>
    <div class='gamer g10'>
      <img src='https://cdn4.iconfinder.com/data/icons/occupation-and-people-avatar-vol-2-1/128/actor_avatar_occupation_career_people_funny_clown-512.png' alt=''>
      <span class='g-name'>umut</span>
    </div>
    <div class='gamer g11'>
      <img src='https://cdn4.iconfinder.com/data/icons/occupation-and-people-avatar-vol-2-1/128/man_avatar_occupation_career_people_male_engineer-512.png' alt=''>
      <span class='g-name'>yusuf</span>
    </div>

  </div>

</section>
@end
